* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid {
    height: 800px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    border: none;
}

#grid > div {
    aspect-ratio: 1/1;
    border: 1px solid black;
}

